/* Use Google Fonts */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
}

h1 {
    color: #343a40;
    font-weight: 600;
}

#login-btn, #logout-btn {
    display: inline-block;
    visibility: visible;
}

button {
    transition: all 0.3s ease;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

#main-content {
    margin-top: 20px;
}

#map {
    margin-top: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Full screen height */
}

#conditions-list {
    list-style-type: none;
    padding-left: 0;
}

#conditions-list li {
    background-color: #f0f0f0;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
}
