/* Use Google Fonts */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
}

#login-btn, #logout-btn {
    display: inline-block;
    visibility: visible;
    font-size: 1.5rem; /* Larger font for login/logout buttons */
    padding: 10px 20px;
}

button {
    transition: all 0.3s ease;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

#main-content {
    margin-top: 20px;
}

#map {
    margin-top: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Full screen height */
}

#conditions-list, #allergy-list {
    list-style-type
